header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.custom-logo-link {
    padding-left: 146px;
}
header ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}
//#menu-menu-principal {
//    display: flex;
//    list-style: none;
//
//}
//
//nav  ul {
//    position: relative;
//    font-size: 1.1em;
//    color: red;
//    font-weight: 600;
//    text-decoration: none;
//    margin-left: 20px;
//    padding: 6px 15px;
//    transition: .5s;
//}