.container-contenu-image { 
    padding-left: 146px;
    padding-right: 146px;
 }

.container-image {
    display: flex;
    padding-top: 38px;
}

.bloc1 {
    width: 50vw;
    display: flex;
    border-bottom: 1px solid black;
    article {
        align-self: flex-end;
    }
    h2 {
        font-family: Space Mono;
        font-size: 66px;
        font-style: italic;
        font-weight: 400;
        line-height: 58px;
        text-transform: uppercase; 
        width: 420px;
    }
    p {
        font-family: Space Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase; 
    }
}

.bloc2 {
    display: flex;
    width: 50vw;
    object-fit: contain;
    justify-content: center;
}

.bloc3 {
    height: 118px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    p {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-right: 196px;
    }
    button {
        width: 272px;
        height: 50px;
        font-family: space;
        font-weight: 400;
        font-size: 12px;
        padding: 8px 15px;
    }
}

.bloc3-button {
    display: flex;
}

.bloc3-image {

}

.bloc3-arrows {
    display: flex;
    justify-content: space-between;
}

.bloc4 {
    p {
        padding-left: 145px;
        padding-top: 60px;
        padding-bottom: 40px;
        font-size: 18px;
    }
}

.bloc4-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    button {
        width: 272px;
        height: 50px;
        padding: 8px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: Space Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }
}

.autre-image {
    width: 50%;
    object-fit: cover;
}

.autres-images {
    display: flex;
    justify-content: center;
    margin: 0 auto; //pour centrer le contenu
    gap: 20px;
    width: 60vw;
}