.container-contenu-image { 
    padding-left: 146px;
    padding-right: 146px;
 }

.container-image {
    display: flex;
    //justify-content: space-between;
    padding-top: 38px;

}

.bloc1 {
    width: 50vw;
    display: flex;
    border-bottom: 1px solid black;
    //padding-right: 10px;
    article {
        align-self: flex-end;
    }
    h2 {
        font-family: Space Mono;
        font-size: 66px;
        font-style: italic;
        font-weight: 400;
        line-height: 58px; /* 87.879% */
        text-transform: uppercase; 
        width: 420px;
    }
    p {
        font-family: Space Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase; 
    }
}

.bloc2 {
    display: flex;
    width: 50vw;
    //vertical-align: middle;
    //padding-left: 10px;
    object-fit: contain;
    justify-content: center;
}

.bloc3 {
    height: 118px;
    justify-content: space-between;
    //width: 1140px;
    display: flex;
    align-items: center;
    //padding-left: 146px;
    border-bottom: 1px solid black;
    p {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-right: 196px;

    }
    button {
        width: 272px;
        height: 50px;
        font-family: space;
        font-weight: 400;
        font-size: 12px;
        padding: 8px 15px;
    }
}

.bloc3-button {
    display: flex;

}

.bloc3-image {

}

.bloc4-image-image image {
    Width: 81px;
    Height: 71px;
}

.bloc4 image {
    width: 564px;
    height: 495px;
    //height: 500px;
}

//Container
//.container-contenu-image {
//    display: flex;
//    
//   // width: 100vw;
//    //height: 100vh;

//}
//
////.bloc1 {
////    display: flex;
////    width: 50%;
////    width: 100vw;
////    height: 100vh;
////}
////
////.bloc2 {
////    //display: flex   ;
////    object-fit: contain;
////   width: 50%;
////}
//
//
////Titre Référence Catégorie Format Année
//.container-contenu-image article {
//    align-self: flex-end;
//    
//}
//
//.image-mota {
////display: block;
//   width: 50%;
//   object-fit: contain;
//}
//
//.bloc3 {
//    height: 118px;
//}
//
//.contact-contenu-image {
//    width: 50%;
//}

.autre-image {
    width: 50%;
    object-fit: cover;
}

.autres-images {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    width: 60vw;
}