.container-contenu-image { 
    padding-left: 146px;
    padding-right: 146px;
 }

.container-image {
    display: flex;
    padding-top: 38px;
}

.bloc1 {
    width: 50vw;
    display: flex;
    border-bottom: 1px solid black;
    article {
        align-self: flex-end;
    }
    h2 {
        font-family: 'Space Mono', monospace;
        font-size: 66px;
        font-style: italic;
        font-weight: 400;
        line-height: 58px;
        text-transform: uppercase; 
        width: 420px;
    }
    p {
        font-family: 'Space Mono', monospace;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase; 
    }
}

.bloc2 {
    display: flex;
    width: 50vw;
    object-fit: contain;
    justify-content: center;
}

.bloc3 {
    height: 118px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-right: 196px;
    }
}

.bloc3-button {
    display: flex;
    p {
        font-family: 'Space Mono', monospace;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase; 
    }
}

.bloc3-image {

}

.bloc3-arrows {
    display: flex;
    justify-content: space-between;
}

.bloc4 {
    p {
        padding-left: 145px;
        padding-top: 60px;
        padding-bottom: 40px;
        font-size: 18px;
    }
}

.bloc4-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.autre-image {
    width: 50%;
    object-fit: cover;
}

.autres-images {
    display: flex;
    justify-content: center;
    margin: 0 auto; //pour centrer le contenu
    gap: 20px;
    width: 60vw;
}

button {
    width: 272px;
    height: 50px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 15px;  
    border-radius: 5px;
    border-color: #313144;
    color: white;
    background-color: #313144;
    cursor: pointer;  
    transition: all 400ms;
    &:hover {
    transform: scale(1.10);
    background-color: white;
    color: #313144;
    border-color: #313144;
    }
    &:active {
        border-color: #313144;
        color: white;
        background-color: #313144;
    }
  }
