@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');

//Photographe Event
.container-image-hero {
    position: relative;
}

.container-image-hero img {
    width: 1440px;
    display: block;
    margin: 0 auto;
}

.hero-titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

//Select
.container-select {
    display: flex;
    padding-right: 146px;
}

//Bouton
.btn-charger-plus {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    button {
        margin: 0 auto;
    }
}

//input masquer input
.hidden-option {
    display: none;
}

//élément select
#category-filter,
#format-filter,
#date-sort {
    font-size: 16px; 
    padding: 11px 18px 11px 18px; 
    width: 160px;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    background: white;
}

.container-select {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1070px;
    margin: 0 auto; /* Centre la boîte sur la page */
}

.select-left {
   display: flex;
   justify-content: space-between;
}

.select-left {
    width: 49.6vw;
    padding-left: 146px;
}

.select-right {
    padding-right: 15px;
    width: 50vw;    
    display: flex;
    justify-content: flex-end;
}

.selection-images {
    clear: both; /* Pour éviter le chevauchement des éléments flottants */
    justify-content: center;
    margin: 0 auto; //pour centrer le contenu
    gap: 20px;
    width: 50%;
}

//RGPD
.texte-rgpd {
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}

/*.motatheme-image-container {
    position: relative;
    overflow: hidden;
}

.motatheme-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.motatheme-overlay i {
    color: #fff;
    font-size: 36px;
    margin: 0 10px;
    cursor: pointer;
}

.motatheme-image-container:hover .motatheme-overlay {
    opacity: 1;
}
*/

//=======================================Lightbox
.lightbox__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5S;
}
 //Btn prev / next
.lightbox__next {
    background: url('../images/navigation_arrows_next.png') center center no-repeat;
}

.lightbox__prev {
    background: url('../images/navigation_arrows_prev.png') center center no-repeat;
}

.lightbox__next,
.lightbox__prev {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    opacity: .5;
    cursor: pointer;
    transition: .3s;
}

.lightbox__prev {
    right: auto;
    left: 0;
}

//Btn close ligntbox
.lightbox__close {
    background: url('../images/lightbox_close_img.png') center center / 100% 100% no-repeat transparent;
    width: 30px;
    height: 30px;
    border: none;
    position: fixed;
    text-indent: -3000px;
    top: 20px;
    right: 20px;
    z-index: 12;
}

//Tous les Btn de la lightbox
.lightbox__container button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
}

.lightbox__container button:hover {
    opacity: 1;
}

//Image de la lightbox
.lightbox__container__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.lightbox__container__image img {
    max-width: 100%;
    height: auto;
    animation: lightboxIn .5S;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}