//Photographe Event

.hero-titre {
    position: absolute;
    bottom: 500px;
    left: 430px;
}

.hero-image {
    display: flex;
    align-items: center;
    //width: 1440px;
    justify-content: center;    
}


//Select
.container-select {
    display: flex;
    padding-right: 146px;
}

//Bouton
.btn-charger-plus {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    button {
        margin: 0 auto;
    }
}

//input masquer input
.hidden-option {
    display: none;
}

//élément select
#category-filter,
#format-filter,
#date-sort {
    font-size: 16px; /* Choisissez la taille de police souhaitée */
    padding: 11px 18px 11px 18px; /* Ajustez l'espacement interne souhaité */
    width: 160px;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    background: white;
}

.container-select {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1070px;
    margin: 0 auto; /* Centre la boîte sur la page */
}

.select-left,
.select-right {
   //display: inline-block;
   //width: 50%;
   //box-sizing: border-box;
}

.select-left {
   // float: left;
   display: flex;
   justify-content: space-between;
}

.select-left {

    width: 49.6vw;
    padding-left: 146px;
    //justify-content: space-around;
}

.select-right {
    padding-right: 15px;
    width: 50vw;    
    display: flex;
    justify-content: flex-end;
   // float: right;
}

/* Ajoutez des styles supplémentaires selon vos besoins */
.select-left select,
.select-right select {
   // width: 100%;
   // margin-bottom: 10px;
   
}

.select-right input {
   // width: 100%;
   // box-sizing: border-box;
   // margin-bottom: 10px;
}

.selection-images {
    clear: both; /* Pour éviter le chevauchement des éléments flottants */
    justify-content: center;
    margin: 0 auto; //pour centrer le contenu
    gap: 20px;
    width: 50%;
}