@charset "UTF-8";
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  width: 597px;
  min-height: 769px;
  background-color: #fefefe;
  margin: 5% auto;
  /* 5% from the top and centered */
  border: 5px solid black;
  animation: anim-ouverture-modale .25s; }

@keyframes anim-ouverture-modale {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  animation: anim-fermeture-modale .25s; }

@keyframes anim-fermeture-modale {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: grab; }

/* Mise en forme champs formulaire "CONTACT"*/
/*container formulaire contact*/
.wpcf7, .invalid, .wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; }

/*Text formulaire invalide*/
.wpcf7-not-valid-tip {
  text-align: center;
  padding-top: 2px; }

/*Bouton formulaire contact*/
.wpcf7-submit {
  width: 263px;
  height: 50px;
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02); }

.wpcf7-spinner {
  margin: 0;
  width: 0; }

.wpcf7 p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500; }

/*Champs formulaire Nom E-mail Réf-photo*/
.wpcf7-text, .wpcf7-email {
  width: 263px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF;
  color: #313144; }

/*Champs formulaire Message*/
.wpcf7-textarea {
  width: 263px;
  height: 210px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF; }

.hero-image {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center; }

/* Google Fonts */
@font-face {
  font-family: 'Space Mono', monospace;
  font-style: bold;
  font-weight: 700;
  src: local("ashe-playfair-font"), url("./assets/fonts/SpaceMono-BoldItalic") format("woff2"), url("/assets/fonts/SpaceMono-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("ashe-opensans-font"), url("./assets/fonts/SpaceMono-Italic") format("woff2"), url("./assets/fonts/SpaceMono-Regular") format("woff2"); }
body {
  font-family: monospace;
  background-color: white; }

a {
  color: black;
  text-decoration: none; }

header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  box-shadow: 0px 4px 14px 10px #00000008; }

.custom-logo-link {
  padding-left: 146px; }

.mota-menu {
  padding-right: 259px;
  font-size: 16px; }

header ul {
  display: flex;
  list-style: none; }
  header ul li {
    padding-left: 45px; }

header a:hover {
  color: #E00000;
  transition: .5s; }

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black; }

footer ul {
  display: flex;
  list-style: none; }
  footer ul li {
    padding-right: 86px; }

footer a:hover {
  color: #E00000;
  transition: .5s; }

.container-contenu-image {
  padding-left: 146px;
  padding-right: 146px; }

.container-image {
  display: flex;
  padding-top: 38px; }

.bloc1 {
  width: 50vw;
  display: flex;
  border-bottom: 1px solid black; }
  .bloc1 article {
    align-self: flex-end; }
  .bloc1 h2 {
    font-family: Space Mono;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    width: 420px; }
  .bloc1 p {
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase; }

.bloc2 {
  display: flex;
  width: 50vw;
  object-fit: contain;
  justify-content: center; }

.bloc3 {
  height: 118px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black; }
  .bloc3 p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-right: 196px; }
  .bloc3 button {
    width: 272px;
    height: 50px;
    font-family: space;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 15px; }

.bloc3-button {
  display: flex; }

.bloc3-arrows {
  display: flex;
  justify-content: space-between; }

.bloc4 p {
  padding-left: 145px;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 18px; }

.bloc4-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  .bloc4-button button {
    width: 272px;
    height: 50px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

.autre-image {
  width: 50%;
  object-fit: cover; }

.autres-images {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  width: 60vw; }

/*# sourceMappingURL=main.css.map */
